* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 60px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default: 4 columns */
  gap: 10px; /* Space between grid items */
  padding: 10px;
}

.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  main {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
  header {
    background: #772017; /* Optional: change header background color */
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* 1 column */
  }
  header {
    background: #bb8588; /* Optional: change header background color */
  }
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}