/*_______________________________________________________________
    TO DO: 
      - Set the font size
      - Set line height */

  body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
  }
/*_______________________________________________________________*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

/*_______________________________________________________________
    TO DO: 
      - Change the heading size to 200%
      - Give it a margin all around
      - Assign font family to serif */

  h1 {
    font-size: 200%;
    margin: 2%;
    font-family: serif;
  }
/*_______________________________________________________________*/

/*_______________________________________________________________
    TO DO: 
      - Change the heading size to be slightly smaller than h1
      - Give it a margin only on the top and bottom
      - Assign font family to serif */

  h2 {
    font-size: 180%;
    margin: 2% 0;
    font-family: serif;
  }
/*_______________________________________________________________*/

/*_______________________________________________________________
    TO DO: 
      - Change the heading size to be slightly smaller than h2
      - Assign font family to serif */

  h3 {
    font-size: 160%;
    font-family: serif;
  }
/*_______________________________________________________________*/


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
}

article {
  border-bottom: 1px solid #d8a47f;
}

/*_______________________________________________________________
    TO DO: 
      - Add a margin to the top and bottom of the paragraphs */

  article p {
    margin: 2% 0;
  }
/*_______________________________________________________________*/

/*_______________________________________________________________
    TO DO: 
      - Add a margin to indent the list
      - Give it square bullet points
      - Assign font family to monospace */

  article ul {
    margin-left: 2%;
    list-style-type: square;
    font-family: monospace;
  }
/*_______________________________________________________________*/

aside {
  width: 25%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
